.admin-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.admin-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%; /* Adjust this value as needed */
    margin-left: 15px;
    margin-right: 15px;
}

.user-table {
    background-color: #f5f5f5; /* Gray background color */
    border: 1px solid #ccc; /* Gray border */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Box shadow */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
}

.device-table {
    background-color: #f5f5f5; /* Gray background color */
    border: 1px solid #ccc; /* Gray border */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Box shadow */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
}

.left-table {

}

.right-table {

}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Each TextField is on a separate line */
    align-items: flex-end;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text-field {
    width: 100%;
}

.buttons-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}
.add-button{
    margin-top: 20px;
    width: 300px;
    display: grid;
}

.add-modal-button
{
    margin-top: 20px;
    width: 300px;
    display: grid;
    margin-left: 15%;
}

.user-cards{
    margin-left: 10%;
}

.custom-card {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.remove-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backgroundColor: white;
    padding: 20px;
    borderRadius: 8px;
    boxShadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    textAlign: center;
}